<body>
    <h2>See your matches below</h2>
        <table id="matchesTable">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Matches</th>
                </tr>
            </thead>
            <!-- Table rows with matches will be added here dynamically -->
        </table>
</body>