<body>
    <h2>Please select which matches you're interested in</h2>
    <form id="checkboxForm">
        <table id="checkboxTable">
            <!-- Table rows with checkboxes will be added here dynamically -->
        </table>
        <input type="submit" value="Submit">
    </form>

</body>