<!DOCTYPE html>
<html>

<head>
    <title>Reciprocity | Home</title>
</head>

<body>
    <h1>Welcome to Reciprocity!</h1>
    <h2><em>Helping to solve collective action problems, one partnership at a time.</em></h2>
    <p>Click <a href='/auth/discord'>here</a> to log in!</p>
</body>

</html>